body {
    display: grid;
    grid-template-rows: 15% 25% 50% 10%;
  }
  .Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 150%;
}
.List {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}
.List-2 {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}
.Image-Content {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}
.Video-Content {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}

