.Navbar {
    display: flex;
    background-color:lightgrey;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.Navbar > li {
    width: max-content;
    list-style: none;
    padding: 20px;
    }
.List {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}
.List-2 {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}
